/* comentario em CSS*/
boby,
.menu,
.sub-menu{
	margin: 0;
	padding: 0;
}
.clearfix:after{

	content: '.';
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	visibility: hidden;
	overflow: hidden;
}
.menu, 
.sub-menu{
	list-style: none; 
	background: #32187c; /* cor geral horizontal- linha*/
	margin: 0;
	padding: 0;
}
.sub-menu{
	background: #0000cf;/* cor geral vertical colunas#0327cf;*/
}
.menu a {
	text-decoration: none;
	display: block;
	padding: 20px;
	color: #fff; /* cor da fonte do MENU*/
	font-family: sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	}

.menu li {  /* propiedade valida para o lista vertical*/
	position: relative;
}
.menu > li {   /* propiedade valida para o lista horizontal*/
	float: left;	
}
.menu > li:hover{
	background: #0000cf;
}
.menu li:hover > .sub-menu{ /* abre list submenu vertical quando passar o mouse sobre o menu horizontal*/
	display: block;
	
}

.sub-menu{
	display: none;
	position: absolute;
	min-width: 170px;
	
}
.sub-menu .sub-menu{
	left: 100%;
	top:0;
	
}

.sub-menu li:hover{  /* preechimento de cor de rolagem no submenu*/
	background: #14bdeb;
}

.sub-menu li:hover > .sub-menu{ /* preenchimento de cor de fundo subniveis*/
	background: #14bdeb;
}

.sub-menu li:hover > .sub-menu li:hover{  /* preechimento de cor de rolagem no subniveis*/
	background: #0000cf;
}